[project]
name = "django-advanced-analytics"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django>=6.0",
    "docutils>=0.22.3",
    "gunicorn>=23.0.0",
]

[dependency-groups]
dev = [
    "djlint>=1.36.4",
]
