{% load static client_components_integration %}
{% load client_components_integration %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'favicon.ico' %}">
        {% load_client_components %}
        {% block meta %}
            {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bartlomiej-aleksiejczyk/markup-refine-lib@0.8.6/dist/markup-refine-lib.min.css" />
            <script src="https://cdn.jsdelivr.net/gh/bartlomiej-aleksiejczyk/markup-refine-lib@0.8.6/dist/markup-refine-lib-javascript-attribute-components.js" /></script> {% endcomment %}
        {% endblock meta %}
        <title>
            {% block title %}
                Offline capable notes
            {% endblock title %}
        </title>
        {% block stylesheets %}
        {% endblock stylesheets %}
        {% block extracss %}
        {% endblock extracss %}
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body class="hidden-until-js">
        {% block header %}
            <header>
                {% block topbar-primary %}
                {% endblock topbar-primary %}
                {% block sidebar %}
                {% endblock sidebar %}
                {% block topbar-secondary %}
                {% endblock topbar-secondary %}
            </header>
        {% endblock header %}
        {% block main %}
            <main class="responsive-container stt-navigation-main-content">
                {% block content %}
                {% endblock content %}
            </main>
        {% endblock main %}
        {% block footer %}
        {% endblock footer %}
        {% block inlinecss %}
        {% endblock inlinecss %}
        {% block scripts %}
        {% endblock scripts %}
        {% block extrajs %}
        {% endblock extrajs %}
    </body>
</html>
